:root {
  --font-family: 'Roboto', sans-serif;
  --font-style: normal;
  --font-size: 16px;
  --line-height: 1.5;
  --color: #2e2f42;
  --background-color: #ffffff;
  --letter-spacing: 0.02em;
}
body {
  font-family: var(--font-family);
  font-style: var(--font-style);
  font-size: var(--font-size);
  line-height: var(--line-height);
  letter-spacing: var(--letter-spacing);
  color: var(--color);
  background-color: var(--background-color);
  cursor: pointer;
}

/*------------- header styles -------------*/

/* logo */
.header-logo {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
}
.header-logo-accent {
  color: #2e2f42;
}
/* header */
.header-menu {
  font-weight: 500;
  list-style-type: none;
}

.header-menu-item {
  text-decoration: none;
}
.header-menu-item:hover,
.header-menu-item:focus {
  color: #404bbf;
}
.header-address {
  list-style-type: none;
}
.header-address-item {
  font-style: normal;
  text-decoration: none;
  color: #434455;
}
.header-address-item:hover,
.header-address-item:focus {
  color: #404bbf;
}

/*------------- Footer -------------*/

/* Footer logo */

.footer-logo {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
}
.footer-logo-accent {
  color: #f4f4fd;
}

/* Footer */

.footer {
  background-color: #2e2f42;
  width: 1440px;
  height: 312px;
}
.footer-text {
  color: #f4f4fd;
}

/*------------ Web studio -------------*/

/* Hero styles */

.hero {
  background-color: #2e2f42;
  color: #ffffff;
}
.hero-name {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
}
.hero-button {
  background-color: #4d5ae5;
  color: inherit;
}
.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}

/* Busines Actions Styles */

.actions-list {
  list-style-type: none;
}
.actions-item {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}
.actions-text {
  color: #434455;
}
.doing-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
}
.doing-list {
  list-style-type: none;
}

/* Team Cards Styles */

.team-section {
  background-color: #f4f4fd;
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
}
.team-list {
  list-style-type: none;
}
.card-conteiner {
  width: 264px;
  height: 380px;
  background-color: #ffffff;
}
.worker-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
}
.worker-position {
  color: #434455;
  text-align: center;
}

/* Footer */

.footer {
  background-color: #2e2f42;
  width: 1440px;
  height: 312px;
}
.footer-logo {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
}
.footer-logo-accent {
  color: #f4f4fd;
}
.footer-text {
  color: #f4f4fd;
}

/*------------- Portfolio --------------*/

/* Filter buttons */

.filter-button-list {
  list-style-type: none;
}
.filter-button {
  width: 116px;
  height: 48px;
  color: #4d5ae5;
  background-color: #f4f4fd;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  font-weight: 500;
}
.filter-button:hover,
.filter-button:focus {
  color: #ffffff;
  background-color: #404bbf;
}

/* Sample of products */

.sample-list {
  list-style-type: none;
}
.sample-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2px;
}
.sample-text {
  color: #434455;
}
.sample-list-item {
  width: 360px;
  height: 420px;
  background: #ffffff;
  border: 1px solid #e7e9fc;
}
