:root {
  --font-family: 'Roboto', sans-serif;
  --background-color: #ffffff;
  --font-style: normal;
  --font-weight: 400;
  --font-size: 16px;
  --line-height: 1.5;
  --letter-spacing: 0.02em;
  --color: #434455;
  --list-style-type: none;
}

ul {
  list-style-type: var(--list-style-type);
}

/* Logo */
.logo {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.166;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: #4d5ae5;
}
.logo.logo-accent {
  color: #2e2f42;
}

/* header navigation */

.header-nav {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  list-style: var(--list-style);
}
.navigation-link {
  text-decoration: none;
}
.header-address {
  font-weight: 400;
  color: #434455;
  list-style: var(--list-style);
}
.address-text-accent {
  text-decoration: none;
}
/* page content-section 1 */

.section-hero {
  background-color: #2e2f42;
}

.first-section-name {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.071;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.hero-button {
  width: 169px;
  height: 56px;
  color: #ffffff;
  background-color: #4d5ae5;
}
.actions-name {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
/* section-2-busines actions */

.paragraph-text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #434455;
}
/* section-3-actions */

.doing-list-name {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.111;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

/* section-4-team-cards */

.team-cards-section {
  background-color: #f4f4fd;
}

.employee-name {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
}

.employee-position {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
}

.team-card-conteiner {
  background-color: #ffffff;
}

/* Footer */

.footer-style {
  background-color: #2e2f42;
}

.logo-accent-footer {
  color: #f4f4fd;
}
.footer-text-accent {
  color: #f4f4fd;
}
